* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../midia/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: 'Segoe UI';
}

/*mod-scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(80, 80, 80), rgb(255, 255, 255));
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(48, 48, 48), rgb(199, 199, 199));
}
::-webkit-scrollbar-button:vertical:decrement {
    background: black;
    border-style: solid;
    height: 15px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent grey transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    background: grey;
    border-style: solid;
    height: 14px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent white transparent;
}
::-webkit-scrollbar-button:vertical:increment {
    background: black;
    border-style: solid;
    height: 15px;
    border-width: 8px 8px 0 8px;
    border-color: grey transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover {
    background: grey;
    border-style: solid;
    height: 14px;
    border-width: 8px 8px 0 8px;
    border-color: white transparent transparent transparent;
}

/*logo-animation*/
@keyframes jumping {
	from {transform: translateY(-12px);}
	50% {transform: translateY(0);}
	to {transform: translateY(-12px);}
	}
#ggtitle {
    margin: 36px 55px;
    transform: translate(-50%, -50%);
	animation: jumping 1s linear infinite;
    transition: 0.3s;
}

/*menu-nav*/
#menu-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    position: fixed;
    top: 20%;
    right: 40px;
}
#menu-nav li {
    transition: 0.3s;
}
#menu-nav li:hover {
    transform: scale(0.95);
}
#menu-nav li a { 
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;  
    background: #CDEAA0;
    border-radius: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 30px;
}

/*contents-posts*/
#post-content {
    background-color: rgba(255, 255, 255, 0.705);
    margin: 100px 233px 53px 62px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
}
#post-content h3 {
    color: rgb(78, 78, 78);
}
#post-content h4{
    color: 008CFF;
}

#pics{
    text-align: center;
    position: relative;
}
#pics img{
    height: 200px;
    transition: 0.3s;
}
#pics img:hover {
    transform: scale(0.95);
}

/*mod-footer*/
footer {
    background: rgba(65, 65, 65, 0.473);
    color: white;
    padding: 15px 60px 25px 60px;
    
}
footer img{
    height: 70px;
}
footer #links {
    display: flex;
    gap: 50px;
    padding-left: 150px;
}
footer a {
	color: grey;
	text-decoration: none;
    font-size: 20px;
}
footer a:hover {
	color: white;
}
footer a#golden:hover {
    color: rgb(192, 163, 0);
}
footer p{
    display: flex;
    gap: 50px;
    padding-left: 50px;
}
footer p a#orange:hover {
    color: #FD7957;
}
footer p a#yellow:hover {
    color: #F1FF88;
}
footer p a#pink:hover {
    color: #FD8FCC;
}
footer p a#red:hover {
    color: rgb(255, 100, 100);
}