* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../midia/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: 'Segoe UI';
    color: white;
}

/*mod-scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(80, 80, 80), rgb(255, 255, 255));
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(48, 48, 48), rgb(199, 199, 199));
}
::-webkit-scrollbar-button:vertical:decrement {
    background: black;
    border-style: solid;
    height: 15px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent grey transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    background: grey;
    border-style: solid;
    height: 14px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent white transparent;
}
::-webkit-scrollbar-button:vertical:increment {
    background: black;
    border-style: solid;
    height: 15px;
    border-width: 8px 8px 0 8px;
    border-color: grey transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover {
    background: grey;
    border-style: solid;
    height: 14px;
    border-width: 8px 8px 0 8px;
    border-color: white transparent transparent transparent;
}

/*logo-animation*/
@keyframes shine {
	0% {filter: brightness(100%);}
    100% {filter: brightness(150%);}
	}
#ggtitle {
    margin-top: 10px;
    height: 120px;
	animation: shine 1s linear infinite;
    transition: 0.3s;
}

/*box-contents*/
#contents {
    background-color: #00000088;
    margin: -20px 30px 23px 30px;
    border-radius: 10px;
    padding: 40px 100px;
}

h1 {
    text-align: center;
}
h3 {
    font-weight: lighter;
    padding: 0 150px 0 10px;
}

.expan {
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 2px;
}
.expan:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: grey;
}

/*mod-footer*/
footer {
    background: rgba(65, 65, 65, 0.473);
    color: white;
    padding: 15px 60px 25px 60px;
    
}
footer img{
    height: 70px;
}
footer #links {
    display: flex;
    gap: 50px;
    padding-left: 150px;
}
footer a {
	color: grey;
	text-decoration: none;
    font-size: 20px;
}
footer a:hover {
	color: white;
}
footer a#golden:hover {
    color: rgb(192, 163, 0);
}
footer p{
    display: flex;
    gap: 50px;
    padding-left: 50px;
}
footer p a#orange:hover {
    color: #FD7957;
}
footer p a#yellow:hover {
    color: #F1FF88;
}
footer p a#pink:hover {
    color: #FD8FCC;
}
footer p a#red:hover {
    color: rgb(255, 100, 100);
}