* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../midia/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: 'Segoe UI';
}

/*mod-scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(80, 80, 80), rgb(255, 255, 255));
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(48, 48, 48), rgb(199, 199, 199));
}
::-webkit-scrollbar-button:vertical:decrement {
    background: black;
    border-style: solid;
    height: 15px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent grey transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    background: grey;
    border-style: solid;
    height: 14px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent white transparent;
}
::-webkit-scrollbar-button:vertical:increment {
    background: black;
    border-style: solid;
    height: 15px;
    border-width: 8px 8px 0 8px;
    border-color: grey transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover {
    background: grey;
    border-style: solid;
    height: 14px;
    border-width: 8px 8px 0 8px;
    border-color: white transparent transparent transparent;
}

/*logo-animation*/
img {
    height: 100px;
    padding: 10px 0 0 0;
}
@keyframes shine {
    0% {filter: brightness(100%);}
    100% {filter: brightness(150%);}
}
#shine {
    animation: shine 1s linear infinite;
    transition: 0.3s;
}

/*
    posts-box
*/
#box-posts {
    background-color: #0000007c;
    margin: 10px 30px 23px 30px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-weight: normal;
}
#welcome {
    color: #008CFF;
}
#text-welcome {
    font-weight: lighter;
    color: white;
    margin: 5px 40px 24px 40px;
}


/*recent-gossip*/
#gossip {
    color: #FD7957;
}

a {
    text-decoration: none;
    color: black;
}
@keyframes pulse {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}
a h2 {
    color: rgb(255, 100, 100);
    transform: translate(-50%, -50%);
    animation: pulse 1s linear infinite;
    transition: 0.3s;
}

/*posts-layout*/
.p-layout {
    background-color: white;
    margin: 12px 24px 20px 24px;
    padding: 10px 20px 20px 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.p-layout:hover {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.842);
}

h3 p {
    color: rgb(255, 100, 100);
}

/*navigation-links*/
#nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#nav-links a{
    transition: 0.3s;
}
#nav-links a:hover {
    transform: scale(0.95);
}

#pics {
    color: #F1FF88;
    font-size: 30px;
}

#parties {
    color: #FD8FCC;
    font-size: 30px;
}

#posts {
    color: #B8E46F;
}